body{
  position:relative;
  background-image: url(../img/bandeira-franca.jpg);
  background-repeat: no-repeat;
  background-size:cover; 
}

#background-thumbnails {
  display:flex;
  position: absolute;
  top: 80%;
  bottom: 10%;
  background-size: cover;
}

#background-thumbnails img {
  width: 10%;
  height: auto;
  margin:1%;
  cursor: pointer;
}

#botao{
  margin-top: 1%;
}

#botao img{
  width:25%;
  height: auto;
}

#conteudo{
  background-color: rgba(235, 235, 235, 0.514);
}