body{
  position:relative;
  background-image: url(../img/bandeira-franca.jpg);
  background-repeat: no-repeat;
  background-size:cover; 
}

#background-thumbnails {
  display:flex;
  position: fixed;
  background-size: cover;
  bottom:0;
}

#background-thumbnails img {
  width: 10%;
  height: auto;
  margin:1%;
  cursor: pointer;
}

#button img{
  width: 10%;
  height: auto;
}

#conteudo{
  background-color: rgba(235, 235, 235, 0.514);
  margin-top:30%;
}